.header {
    background: gainsboro;
    padding: 10px 10px;
}

.header_container{
    max-width: 1110px;
    margin: 0 auto;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.header_nav_logo{
    margin: 10px 5px;
    flex: 0 1 20%;

}

.header_links{
    flex: 0 1 80%;
    margin: 10px 0px;
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.li{
    margin: 10px 0px;
    color: white;
    text-decoration: none;
    margin: 25px 35px 1px 25px;
    font-family: 'Merriweather', cursive;
    letter-spacing: 4px;
    font-size: 18px;
   
}

