.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
 
 }
 
 .post {
    height: 400px;
    width: 530px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
 }
 
 .head {
    height: 75px;
 }
 
 .headText {
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
 }
 
 .dot {
    width: 10px;
    height: 10px;
 }
 
 .ico {
    width: 20px;
    height: 20px;
 }
 
 .date,
 .nickname {
    color: grey;
    font-size: 14px;
    margin: 5px;
 }
 
 .text,
 .nameAuthor {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 5px;
 }
 
 .text {
    font-size: 25px;
 }
 
 .photo {
    float: left;
    width: 90px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
 }
 
 .main {
    float: right;
    margin: 10px;
 }
 
 .contentImage {
    border-radius: 15px;
    height: 250px;
    width: 450px;
 }
 
 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
 }
 
 .like,
 .comments,
 .retwit,
 .share {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 90px;
    cursor: pointer;
 }
 
 .like:hover {
    background-color: rgb(233, 82, 55);
 }
 
 .comments:hover {
    background-color: rgb(23, 133, 206);
 }
 
 .retwit:hover {
    background-color: rgb(29, 190, 110);
 }
 
 .share:hover {
    background-color: rgb(110, 59, 230);
 }